<h1>Book Inventory</h1>
<p>Want to keep a list of your books? Use this inventory to track title, your rating, and whether or not you have an ebook version.</p>
<p><a href="/books">Cool, take me to the books!</a></p>
